[Unit]
Description = Cncjs bed level
After = network.target

[Service]
User=pi
ExecStart = /usr/bin/node /home/pi/cncjs-bedlevel . --port /dev/ttyUSB0 --config /home/pi/.cncjs/cncrc.cfg --socket-port 80
Restart=on-failure

[Install]
WantedBy = multi-user.target